[Desktop Entry]
Name=Blackbriar
X-KDE-PluginInfo-Author=swomf
X-KDE-PluginInfo-Email=swomf@proton.me
X-KDE-PluginInfo-Name=Blackbriar
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

[Wallpaper]
defaultWallpaperTheme=Blackbriar
defaultFileSuffix=.png
defaultWidth=3840
defaultHeight=2160

[AdaptiveTransparency]
enabled=true
